---
layout: workshop
root: .
venue: National Institutes of Health, NIH Library Training Room
address: 10 Center Dr, Bethesda, MD 20892 
country: United-States
language: en
latlng: 39.0027815,-77.1044218 
humandate: May 26-27, 2016
humantime: 9:00 am - 4:30 pm 
startdate: 2016-05-26
enddate: 2016-05-27
instructor: ["Jason Williams", "Ryan Dale", "Adam Thomas"]
helper: ["Vinai Roopchansingh","John Lee"] 
contact: williams@cshl.edu
etherpad: http://pad.software-carpentry.org//2016-05-26-NIH
eventbrite: 
day1_am: "Cloud computing and command line for genomics"
day2_am: "Data analysis and visualization in R"
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href=http://datacarpentry.org>Data Carpentry</a> workshops are for any researcher 
who has data they want to analyze, and no prior computational experience is required. 
This hands-on workshop teaches basic concepts, skills and tools for working more 
effectively with data. 
</p>
<p>
We will cover {{page.day1_am}} and {{page.day2_am}}.

Participants should bring their laptops and plan to participate actively. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Data Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information. Registration is directly through NIH at 
<a href="https://datascience.nih.gov/community/workforce/upcoming">https://datascience.nih.gov/community/workforce/upcoming</a>

</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<p>
  <h3><font color="red"><strong> Pre-Survey:</strong></font> Please take this <a href="https://www.surveymonkey.com/r/dc_pre_workshop_v1">pre-survey</a> prior to the workshop.</h3>
  We will use results collected by May 20th, 2016 to make fine adjustments to the agenda. 
</p>
<p>
<h2>Schedule</h2>
</p>
<div class="row">
  <div class="col-md-6">
    <h3>Day 1: 9AM - 4:30PM</h3>
    <table class="table table-striped">
            <tr> 
        <td colspan=2 style="background:gainsboro"><strong>Morning:</strong> Intro, Data Processing, and Organization</td>
      </tr>
      <tr>
          <td>
              Intro to Data Carpentry
          </td>
          <td>
           Jason   
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/datadescription-genomics/">Intro to the Data Set</a>
          </td>
          <td>
           Jason   
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/tidiness-genomics/">Genomics Data Tidyness</a>
          </td>
          <td>
           Adam   
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/cloud-genomics/">Connecting to the Cloud in 5 Minutes or Less</a>
          </td>
          <td>
           Jason   
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/00-intro-to-r-rstudio.html">R and R Studio Orientation</a>
          </td>
          <td>
           Ryan   
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/01-intro-to-r.html">Intro to R and R Studio</a>
          </td>
          <td>
           Ryan   
          </td>    
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/02-intro-to-dataframes-metadata-r.html">Dataframes and Metadata</a>
          </td>
          <td>
           Ryan   
          </td>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/03-dataframes-contd-r.html">Dataframes Continued</a>
          </td>
          <td>
           Ryan   
          </td>    
      </tr>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/04-intro-to-dplyr-r.html">Data Clearning and Manipulation with dplyr</a>
          </td>
          <td>
           Adam   
          </td>
      <tr> 
        <td colspan=2 style="background:gainsboro"><strong>Afternoon:</strong> Data Cleaning and Visualization in R - Intro to Linux </td>
      </tr>
      <tr>
          <td>
               <a href="https://jasonjwilliamsny.github.io/r-genomics-2/04-intro-to-dplyr-r.html">Data Clearning and Manipulation with dplyr (cont'd)</a>
          </td>
          <td>
           Adam   
          </td>
      </tr>
      <tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/05-genomics-visualization-r.html">Plotting and Visualizing in R</a>
          </td>
          <td>
           Ryan   
          </td>
      </tr>
      <tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/importingdata-genomics/">Data Importing and Uploading</a>
          </td>
          <td>
           Jason   
          </td>
      </tr>
      <tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/shell-genomics/">Intro to the Linux Shell - Filesystem and Navigation</a>
          </td>
          <td>
           Jason   
          </td>
      </tr>
      <tr> 
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 2: 9AM - 4:30PM</h3>
    <table class="table table-striped">
            <tr> 
        <td colspan=2 style="background:gainsboro"><strong>Morning:</strong> Using Linux to organize and process Genomics Data</td>
      </tr>
<tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/shell-genomics/lessons/03_searching_files.html">Intro to the Linux Shell - Searching and Metadata</a>
          </td>
          <td>
           Ryan   
          </td>
      </tr>
<tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/organization-genomics/">Project Organziation and Documentation</a>
          </td>
          <td>
           Adam   
          </td>
      </tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/00-readQC.html">'For' loops - QC of Sequencing Data</a>
          </td>
          <td>
          Jason   
          </td>
      </tr>
        <tr> 
        <td colspan=2 style="background:gainsboro"><strong>Afternoon:</strong> Using Linux to Automate</td>
      </tr>
<tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/01-automating_a_workflow.html">Automating Analyses - Shell Scripting</a>
          </td>
          <td>
          Adam   
          </td>
      </tr>
<tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/02-variant-calling-workflow.html">Creating Workflows - Varient Calling Workflow</a>
          </td>
          <td>
           Jason   
          </td>
      </tr>
        <tr>
          <td>
              Workshop Conclusion
          </td>
          <td>
           Please take the <a href="https://www.surveymonkey.com/r/dc_post_workshop_v1">post-survey</a>  
          </td>
      </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Post Workshop</h3>
    <table class="table table-striped">
            <tr> 
        <td colspan=2 style="background:gainsboro">How to Make This Work on Your Own</td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/cloud-genomics/logging-onto-cloud.html">Launching Your Own Cloud Instances</a>
          </td>
          <td>
          On Your Own  
          </td>
      </tr>
    </table>
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-6">

    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day1_am}}</td> </tr>
       <tr> <td>Afternoon</td>  <td>{{page.day1_pm}}</td> </tr>
    </table>
 
 
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>  <td>{{page.day2_am}}</td> </tr>
      <tr> <td>Afternoon</td>  <td>{{page.day2_pm}}</td> </tr>
    </table>
 </div>
</div>
-->

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
<br>
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<!--
<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/06-R.html">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_lessons}}/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_lessons}}/ref/04-sql.html">Reference...</a></li>
    </ul>
  </div>
</div>


<hr/>
-->

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
To participate in a Data Carpentry workshop, you will need working copies of the 
described software. Please make sure to install everything (or at least to download 
the installers) before the start of your workshop. Participants should bring and use 
their own laptops to insure the proper setup of tools for an efficient workflow 
once you leave the workshop.
<p>
Please follow these <a href=install.html>Setup Instructions</a>.

<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

